<div class="row">
    <div class="col-md-8 col-xs-12">
        <div class="input-group">
            <input class="form-control" placeholder="I can help you to find anything you want!" (keyup)="search()" [(ngModel)]="pagingQuery.search">
            <div class="input-group-addon">
                <i class="fa fa-search"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <button type="button" id="add" class="btn btn-default pull-right mobile-space" (click)="goToAddPost()">+ Add Post</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Created Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of posts">
                        <td>{{post.title}}</td>
                        <td>{{post.author}}</td>
                        <td>{{post.createdDate * 1000 | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                        <td>
                            <button type="button" id="update" class="btn btn-success" (click)="goToUpdatePost(post.id)">Update</button>
                        </td>
                        <td>
                            <button type="button" id="delete" class="btn btn-danger" (click)="delete(post.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>